/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.hidden { display: none; }

/* Spacing */
.post h1, h2, h3, h4, h5, p, ul, pre {
  margin-bottom: 20px;
}

/* Base */
html, body { height: 100%; }

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.profile {
  max-width: 360px;
  margin: 40px auto 40px auto;
  text-align: center;
  position: relative;
}

img.avatar {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bbb;
}

.profile img.avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.profile h1 {
  margin-bottom: 10px;
}

.profile h2 {
  color: #bbb;
}

nav.main-nav {
  padding: 20px 20px 0;
  background: #fff;
  background: rgba(255,255,255,.90);
  margin: 0 auto;
  text-align: left;
  z-index: 100;
}

nav.main-nav a {
  padding: 8px 12px;
  border-radius: 3px;
}

nav.main-nav a.cta {
  background: #59a6ed;
  color: #fff;
  margin-left: 12px;
}

#wrapper {
  max-width: 620px;
  margin: 0 auto;
  padding: 60px 40px 20px 40px;
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#title:hover {
  text-decoration: none;
  color: #59a6ed;
}

p a { color: #59a6ed; }

ul { padding-left: 2em; }

/* Line Height */
#post-body, p { line-height:1.7; }

b, strong { font-weight: 500;}

em, i { font-style: italic; }

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.post header {
  text-align:center;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

h1 {
  font: 300 32px/1.4em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  font: 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5 { color: #666; }

h3 { font-size:20px; font-weight: 400; }
h4 { font-size:16px; font-weight: bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
}

:not(pre) > code {
  font-family: Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Consolas, 'Liberation Mono', monospace;
  /*border: 1px solid #ddd;*/
  padding: 3px;
  background-color: #fdfdfd;
  font-size: 14px;
  border-radius: 3px;
}

pre	{
  font-family: Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Consolas, 'Liberation Mono', monospace;
  /*border: 1px solid #ddd; */
  padding: 20px;
  background-color: #fdfdfd;
  font-size: 14px;
  border-radius: 3px;
  white-space: pre-wrap;
  overflow: auto;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

thead th,th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #eee;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

#post-list {
  border-top: 1px solid #eee;
  margin: 40px 0 40px 0;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #eee;
}

#post-list li {
  list-style-type: none;
  margin-bottom: 20px;
}

#post-list li:last-child {
  margin-bottom: 0;
}

#post-list li+li {
  padding-top: 20px;
  border-top: 1px solid #eee;
}

#post-list a {
  color: #666;
  display: block;
  font: 500 19px/1.7 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.date {
  font: normal 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #bbb;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

#footer {
  margin-top: 40px;
}

.post {
  margin-top: 60px;
}

#post-meta {
  font-size: 16px;
  line-height: 1.4;
  padding: 40px 20px 40px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

#post-meta > a {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#post-meta img.avatar {
  height: 48px;
  width: 48px;
  flex: 0 0 auto;
  margin-left: 5px;
  margin-right: 20px;
}

#post-meta div.details {
  flex: 1;
}

#post-meta .dark {
  color: #666;
  font-weight: bold;
}

#post-meta .light {
  color: #bbb;
}

.sharing {
  flex: 0 0 auto;
  width: auto;
}

.sharing a {
  font-size: 32px;
  color: #bbb;
}

.sharing a:hover {
  color: #666;
}

.social {
  margin: 40px 40px -20px 40px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: block;
  width: 120px;
  margin-bottom: 20px;
  color: #666;
}

.social-link:hover {
  color: #59a6ed;
}

/* Media Queries */
@media screen and (max-width: 560px) {
  #post-meta {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  #post-meta > a { margin-right: 0; }
  .sharing { margin-top: 20px; }
}

@media screen and (max-width: 500px) {
  .social {
    flex-direction: column;
  }
  .social-left, .social-center, .social-right {
    display: flex;
    justify-content: space-between;
  }
  .social-link {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 460px) {
  #wrapper { padding: 20px 20px 20px 20px; }
  .profile { max-width: 320px; }
  .profile img.avatar {
    width: 80px;
    height: 80px;
  }
  .post { margin-top: 40px; }
  h1 { font-size: 26px; }
  .post h1 { font-size: 24px; }
  h2 { font-size: 20px; }
}

@media screen and (max-width: 380px) {
  .social {
    margin-left: 20px;
    margin-right: 20px;
  }
}
