---
sitemap_priority: 1.0
---

<ul id="post-list">
  <% blog.articles.each do |article| %>
    <li>
      <aside class="dates"><%= article.date.strftime('%e %B %Y') %></aside></a>
      <a href="<%= article.url %>">
        <%= article.title %>
        <!-- <h2><%#= article.summary %></h2> -->
      </a>
    </li>
  <% end %>
</ul>
