---
sitemap_priority: 1.0
hide_nav: true
---

<%= component 'profile' %>

<% if blog.articles.any? %>
  <ul id="post-list">
    <% blog.articles.each do |article| %>
      <li>
        <a href="<%= article.url %>">
          <div><%= article.title %></div>
          <div class="date"><%= article.date.strftime('%e %B %Y') %></div>
        </a>
      </li>
    <% end %>
  </ul>
<% else %>
  <hr>
<% end %>
